.vs
.vscode
[Bb]in/
[Oo]bj/
buildOutput/
publish/
\.tmp
*.log
*.user
build/Settings/GlobalSettings.cs

src/BookMaster/appsettings.json

logs/

src/BookMaster.Data/Migrations/

src/BookDataPump/Migrations/
